* {
    box-sizing: border-box;
}

.book__detail--content {
    display: flex;

    img {
        width: 15em;
        margin-right: 0.5em;
    }

}

.book__detail--info {
    display: flex;
    flex-direction: column;
}