$primary_color: black;
$primary_font: Arial;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $primary_font;
    color: $primary_color;
    padding-top: 2em;
}

h1 {
    text-decoration: underline;
}

nav {
    position: fixed;
    top: 0;


}